<h1>Vote</h1>
<% if @item.item_type == "City" %>
  <p><%= @item.item.name %></p>
  <p><%= @item.item.country %></p>
  <%= link_to create_vote_url(@item.item_id), create_vote_url(@item.item_id) %>
<% end %>
<%= link_to 'Back', '/' %>
